body {
  padding-left: 5em;
  padding-right: 5em;
  .wrapper-image-home{
    position: relative;
    .image-home {
      display: flex;
      justify-content: center;
      align-content: center;
      
      img {
        width: 100%;
        height: 100%;
      }
      .rect-dark-text {
        position: absolute;
        background-color: #393935;
        width: 50%;
        height: 100%;
        border-left: 1em solid white;
        border-right: 1em solid white;
        
      }
      .description-home{
        position: absolute;
        width: 50%;
        color: white;
        padding-left: 5em;
        padding-right: 5em;
        text-align: center;
        align-self: center;
        .title-description-home{
          font-size: 5em;
          font-family: Georgia, 'Times New Roman', Times, serif ;
          border-bottom: 1px solid white;
          padding-bottom: 10px;
          line-height: 48px;
        }
        .text-description-home{

        }
      }
    }
  }
  
}

#navbarMenu {
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(71, 71, 71);
  .item-menu {
    color: rgb(71, 71, 71);
  }

  .caddie-wrapper {
    position: absolute !important;
    right: 1em;
    .caddie {
      text-decoration: none;
      text-transform: uppercase;
      color: inherit;
    }
  }

  .wrapper-title {
    position: absolute;
  }
}
