<div class="breadcrump-top">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Plates</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hand painted blue flat dish</li>
        </ol>
    </nav>
</div>
<div class="container container-details">
    <div class="content-page">
        <div class="content-picture">
            <img src="images/hand-painted-blue-flat-dish.jpg" alt="Hand painted blue flat dish">
        </div>
        <div class="container content-text-and-counter">
            <div class="text">
                <span class="text-kiriko">Kiriko</span>
                <h1 class="text-title">Hand Painted Blue Flat Dish</h1>
                <span class="text-price">$28.00</span>
                <p class="text-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem optio
                    aspernatur autem necessitatibus, pariatur deleniti neque nesciunt enim dignissimos, magni molestiae
                    magnam quos, vitae quis. Eligendi voluptatibus sed eius voluptate.
                </p>
            </div>
            <div class="counter">
                <div class="counter-wrapper">
                    <div class="counter-square">
                        <input value="1" class="counter-content">
                        <div class="mx-1 wrapper-buttons">
                            <button class="btn counter-plus mb-1">+</button>
                            <button class="btn counter-minus">-</button>
                        </div>
                    </div>
                </div>
                <div class="counter-wrapper-button-add">
                    <button class="btn button-add">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>