<div class="wrapper-image-home">
    <div class="image-home">
        <div class="rect-dark-text"></div>
        <img src="images/plates-header.jpg" alt="photo 2 plates">
        <div class="description-home">
            <h1 class="title-description-home"> Plates<hr></h1>
            <p class="text-description-home">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam culpa dignissimos
                repellendus facere consectetur temporibus quaerat id, modi, ipsa cumque at, voluptatibus non eligendi
                ducimus quidem deserunt? Accusantium, voluptatibus dignissimos?</p>
        </div>
    </div>
</div>