<div class="wrapper-image-home">
    <div class="image-home">
        <div class="rect-dark-text">
            <div class="container description-home">
                <div>
                    <h1 class="title-description-home">
                        Plates
                    </h1>
                </div>
                <p class="text-description-home">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam culpa dignissimos repellendus
                    facere consectetur temporibus quaerat id, modi, ipsa cumque at, voluptatibus non eligendi ducimus
                    quidem deserunt? Accusantium, voluptatibus dignissimos?
                </p>
            </div>
        </div>
        <img src="images/plates-header.jpg" alt="photo 2 plates" />
    </div>
</div>
<section class="section container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-6">
            <div class="card">
                <img src="images/blue-stripe-stoneware-plate.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h10 class="card-title">Kiriko</h10>
                    <h5 class="card-title">Blue stripe stoneware plate</h5>
                    <p class="card-text">$40.00</p>
                </div>
            </div>
        </div>

        <div class="col mb-6">
            <div class="card">
                <img src="images/hand-painted-blue-flat-dish.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h10 class="card-title">Kiriko</h10>
                    <h5 class="card-title">Hand painted blue flat dish</h5>
                    <p class="card-text">$28.00</p>
                </div>
            </div>
        </div>

        <div class="col mb-6">
            <div class="card">
                <img src="images/heme.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h10 class="card-title">Kiriko</h10>
                    <h5 class="card-title">heme</h5>
                    <p class="card-text">$52.00</p>
                </div>
            </div>
        </div>

        <div class="col mb-6">
            <div class="card">
                <img src="images/mashiko-yaki-green-small-plate.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h10 class="card-title">Kiriko</h10>
                    <h5 class="card-title">mashiko yaki green small plate</h5>
                    <p class="card-text">$18.00</p>
                </div>
            </div>
        </div>

        <div class="col mb-6">
            <div class="card">
                <img src="images/mashiko-yaki-indigo-small-plate.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h10 class="card-title">Kiriko</h10>
                    <h5 class="card-title">mashiko yaki indigo small plate</h5>
                    <p class="card-text">$28.00</p>
                </div>
            </div>
        </div>

        <div class="col mb-6">
            <div class="card">
                <img src="images/mashiko-yaki-saucer.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h10 class="card-title">Kiriko</h10>
                    <h5 class="card-title">mashiko yaki saucer</h5>
                    <p class="card-text">$18.00</p>
                </div>
            </div>
        </div>

    </div>
</section>

