
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="wrapper-title">
        <a class="navbar-brand hero-title-link" href="#"><img src="images/logo.png" alt=""></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbarMenu collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home</a>
            <a class="nav-item nav-link" href="#">Shop</a>
            <a class="nav-item nav-link" href="#">Journal</a>
            <a class="nav-item nav-link" href="#">More</a>
        </div>
    </div>
    <div class="nav-item dropdown caddie-wrapper">
        <a class="nav-link dropdown-toggle caddie" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            My cart
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</nav>
